In [34]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
import os

In [35]:
df = pd.read_csv("../Motor_Vehicle_Collisions_-_Crashes_20251015.csv")
df

C:\Users\lyoshka\AppData\Local\Temp\ipykernel_18216\203287006.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../Motor_Vehicle_Collisions_-_Crashes_20251015.csv")

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,11/01/2023,1:29,BROOKLYN,11230.0,40.621790,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,NaN,...,Unspecified,Unspecified,NaN,NaN,4675373,Moped,Sedan,Sedan,NaN,NaN
3,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
4,09/21/2022,13:21,NaN,NaN,NaN,NaN,NaN,BROOKLYN BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4566131,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2220329,04/20/2021,7:00,NaN,NaN,NaN,NaN,NaN,LONG ISLAND EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4408866,Pick-up Truck,Tractor Truck Diesel,NaN,NaN,NaN
2220330,04/20/2021,15:07,NaN,NaN,40.683480,-73.966896,"(40.68348, -73.966896)",FULTON STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4408962,Convertible,Moped,NaN,NaN,NaN
2220331,04/20/2021,17:00,BRONX,10458.0,40.855600,-73.885150,"(40.8556, -73.88515)",NaN,NaN,660 EAST 188 STREET,...,Unspecified,NaN,NaN,NaN,4409125,Sedan,NaN,NaN,NaN,NaN
2220332,04/20/2021,16:45,BROOKLYN,11204.0,40.625828,-73.990950,"(40.625828, -73.99095)",NaN,NaN,5822 16 AVENUE,...,NaN,NaN,NaN,NaN,4408955,Sedan,NaN,NaN,NaN,NaN
2220333,04/20/2021,18:35,BROOKLYN,11214.0,40.605480,-73.999725,"(40.60548, -73.999725)",86 STREET,BAY 22 STREET,NaN,...,NaN,NaN,NaN,NaN,4409665,Bike,NaN,NaN,NaN,NaN

# Lidando com Missing Values

In [36]:
df.isnull().sum().sum() # Muitos valores nulos impossivel exclui-los

np.int64(18984049)

## Removendo Colunas com dados nulos acima de 82%

In [37]:
df.isna().sum() # colunas off street name, contributing factor 3 veicle ate o 5 , vehicle type code 3 ate o 5 sao colunas com muitos valores nulos e podem ser removidas
missing_percent = df.isna().mean() * 100
print(missing_percent.sort_values(ascending=False))
df_removed = df.drop(columns=['OFF STREET NAME', 'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'])
df_removed.isna().sum().sum()

VEHICLE TYPE CODE 5              99.561778
CONTRIBUTING FACTOR VEHICLE 5    99.547546
VEHICLE TYPE CODE 4              98.407987
CONTRIBUTING FACTOR VEHICLE 4    98.348041
VEHICLE TYPE CODE 3              93.045145
CONTRIBUTING FACTOR VEHICLE 3    92.764197
OFF STREET NAME                  82.379228
CROSS STREET NAME                38.211774
ZIP CODE                         30.650839
BOROUGH                          30.638408
ON STREET NAME                   21.781137
VEHICLE TYPE CODE 2              20.060270
CONTRIBUTING FACTOR VEHICLE 2    16.053486
LOCATION                         10.825353
LATITUDE                         10.825353
LONGITUDE                        10.825353
VEHICLE TYPE CODE 1               0.727458
CONTRIBUTING FACTOR VEHICLE 1     0.353145
NUMBER OF PERSONS KILLED          0.001396
NUMBER OF PERSONS INJURED         0.000811
CRASH DATE                        0.000000
NUMBER OF PEDESTRIANS INJURED     0.000000
CRASH TIME                        0.000000
NUMBER OF MOTORIST KILLED         0.000000
NUMBER OF MOTORIST INJURED        0.000000
NUMBER OF PEDESTRIANS KILLED      0.000000
NUMBER OF CYCLIST INJURED         0.000000
NUMBER OF CYCLIST KILLED          0.000000
COLLISION_ID                      0.000000
dtype: float64

np.int64(4239834)

In [38]:
print(df.shape)
print(df_removed.shape)

(2220334, 29)
(2220334, 22)

In [39]:
df_removed.isna().sum() 
missing_percent = df_removed.isna().mean() * 100
print(missing_percent.sort_values(ascending=False))

CROSS STREET NAME                38.211774
ZIP CODE                         30.650839
BOROUGH                          30.638408
ON STREET NAME                   21.781137
VEHICLE TYPE CODE 2              20.060270
CONTRIBUTING FACTOR VEHICLE 2    16.053486
LOCATION                         10.825353
LATITUDE                         10.825353
LONGITUDE                        10.825353
VEHICLE TYPE CODE 1               0.727458
CONTRIBUTING FACTOR VEHICLE 1     0.353145
NUMBER OF PERSONS KILLED          0.001396
NUMBER OF PERSONS INJURED         0.000811
CRASH TIME                        0.000000
CRASH DATE                        0.000000
NUMBER OF CYCLIST INJURED         0.000000
NUMBER OF PEDESTRIANS INJURED     0.000000
NUMBER OF PEDESTRIANS KILLED      0.000000
NUMBER OF MOTORIST KILLED         0.000000
NUMBER OF MOTORIST INJURED        0.000000
NUMBER OF CYCLIST KILLED          0.000000
COLLISION_ID                      0.000000
dtype: float64

In [40]:
num_cols = df_removed.select_dtypes(include=['number']).columns.to_list()
print(num_cols)
cat_cols = df_removed.select_dtypes(include=['object']).columns.to_list()
print(cat_cols)

['LATITUDE', 'LONGITUDE', 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED', 'COLLISION_ID']
['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2']

# Lidando Com Outliers

In [ ]:
# Converte os outliars de longitude e latitude em Nan
lat_min, lat_max = 40.49, 40.92
lon_min, lon_max = -74.26, -73.69
filtro_invalidas = (
    (df_removed['LATITUDE'] < lat_min) | (df_removed['LATITUDE'] > lat_max) |
    (df_removed['LONGITUDE'] < lon_min) | (df_removed['LONGITUDE'] > lon_max)
)
df.loc[filtro_invalidas, ['LATITUDE', 'LONGITUDE']] = np.nan

## Usando novo dataset sem colunas com muitos nulos para imputar restante dos resultados com simpleImputer

In [47]:
transformers_imput = [
    ('num_imputer', SimpleImputer(strategy='median'),num_cols), #mediana é mais robusta a outliers para dados numericos
    ('freq_imputer', SimpleImputer(strategy='most_frequent'),cat_cols)
]
ct_imput = ColumnTransformer(transformers_imput, remainder='passthrough')
df_imputed_array = ct_imput.fit_transform(df_removed)

# reconstruir DataFrame com as colunas originais (reordenadas)
df_imputed = pd.DataFrame(df_imputed_array, columns=num_cols + cat_cols)

# garantir tipos corretos
df_imputed[num_cols] = df_imputed[num_cols].apply(pd.to_numeric, errors='coerce')

In [48]:
df_imputed

,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,...,CRASH TIME,BOROUGH,ZIP CODE,LOCATION,ON STREET NAME,CROSS STREET NAME,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,40.720314,-73.926734,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,...,2:39,BROOKLYN,11207.0,"(0.0, 0.0)",WHITESTONE EXPRESSWAY,20 AVENUE,Aggressive Driving/Road Rage,Unspecified,Sedan,Sedan
1,40.720314,-73.926734,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,11:45,BROOKLYN,11207.0,"(0.0, 0.0)",QUEENSBORO BRIDGE UPPER,3 AVENUE,Pavement Slippery,Unspecified,Sedan,Sedan
2,40.621790,-73.970024,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1:29,BROOKLYN,11230.0,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,Unspecified,Unspecified,Moped,Sedan
3,40.720314,-73.926734,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6:55,BROOKLYN,11207.0,"(0.0, 0.0)",THROGS NECK BRIDGE,3 AVENUE,Following Too Closely,Unspecified,Sedan,Pick-up Truck
4,40.720314,-73.926734,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13:21,BROOKLYN,11207.0,"(0.0, 0.0)",BROOKLYN BRIDGE,3 AVENUE,Passing Too Closely,Unspecified,Station Wagon/Sport Utility Vehicle,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2220329,40.720314,-73.926734,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7:00,BROOKLYN,11207.0,"(0.0, 0.0)",LONG ISLAND EXPRESSWAY,3 AVENUE,Driver Inattention/Distraction,Unspecified,Pick-up Truck,Tractor Truck Diesel
2220330,40.683480,-73.966896,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,15:07,BROOKLYN,11207.0,"(40.68348, -73.966896)",FULTON STREET,3 AVENUE,Unspecified,Unspecified,Convertible,Moped
2220331,40.855600,-73.885150,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,17:00,BRONX,10458.0,"(40.8556, -73.88515)",BROADWAY,3 AVENUE,Passing or Lane Usage Improper,Unspecified,Sedan,Sedan
2220332,40.625828,-73.990950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,16:45,BROOKLYN,11204.0,"(40.625828, -73.99095)",BROADWAY,3 AVENUE,Unspecified,Unspecified,Sedan,Sedan
2220333,40.605480,-73.999725,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,18:35,BROOKLYN,11214.0,"(40.60548, -73.999725)",86 STREET,BAY 22 STREET,Driver Inexperience,Unspecified,Bike,Sedan

In [49]:
df_imputed.isna().sum() 
missing_percent = df_imputed.isna().mean() * 100
print(missing_percent.sort_values(ascending=False))

LATITUDE                         0.0
LONGITUDE                        0.0
NUMBER OF PERSONS INJURED        0.0
NUMBER OF PERSONS KILLED         0.0
NUMBER OF PEDESTRIANS INJURED    0.0
NUMBER OF PEDESTRIANS KILLED     0.0
NUMBER OF CYCLIST INJURED        0.0
NUMBER OF CYCLIST KILLED         0.0
NUMBER OF MOTORIST INJURED       0.0
NUMBER OF MOTORIST KILLED        0.0
COLLISION_ID                     0.0
CRASH DATE                       0.0
CRASH TIME                       0.0
BOROUGH                          0.0
ZIP CODE                         0.0
LOCATION                         0.0
ON STREET NAME                   0.0
CROSS STREET NAME                0.0
CONTRIBUTING FACTOR VEHICLE 1    0.0
CONTRIBUTING FACTOR VEHICLE 2    0.0
VEHICLE TYPE CODE 1              0.0
VEHICLE TYPE CODE 2              0.0
dtype: float64

# Lidando Com Outliars

In [45]:
# df_reduzido = df_imputed.iloc[:, 0:2]
# df_reduzido.to_csv("df_lat_long_colunas.csv", index=False)